<%
page.layout = "achievements"
page.title = theme.achievements.title || __('achievements.title')
page.subtitle = theme.achievements.subtitle || __('achievements.subtitle')
page.banner_img = theme.achievements.banner_img
page.banner_img_height = theme.achievements.banner_img_height
page.banner_mask_alpha = theme.achievements.banner_mask_alpha
%>

<div class="list-group">
  <hr>
  <% var dateCursor %>
  <% site.posts.filter(function (post) { %>
  <%   if (post.categories.length != 0) { return post.categories.data[0].name == theme.achievements.category } %>
  <%   return false %>
  <% }).sort('-date').each(function (post) { %>
    <% if(date(post.date, "YYYY") !== dateCursor) { %>
      <% dateCursor = date(post.date, "YYYY") %>
      <p class="h5"><%= dateCursor %></p>
    <% } %>
    <div class="list-group-item">
      <time><%= date(post.date, "MM-DD") %></time>
      <div>
        <p style="font-size: 18px; white-space: unset;">
          <strong><%= post.title %></strong>
        </p>
        <% var excerpt = post.description || post.excerpt || (theme.index.auto_excerpt.enable && post.content) %>
        <div>
          Link: <a href="<%= url_for(post.description) %>" style="color: #30a9de;"><%- strip_html(excerpt).substring(0, 200).trim().replace(/\n/g, ' ') %></a>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<style>
  .list-group-item-title {
    white-space: unset;
  }
</style>

<%- partial('_partials/paginator') %>